<%- include('partials/header') %>

<div class="row">
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for exciting updates and new features coming soon!</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                Hello!! My name is AMINU JIM OLUWAFERANMI, and I am currently studying Computer Programming at Seneca International Campus.
                I have a background in MECHANICAL ENGINEERING and a deep interest in software development and technology.
                My goal is to build innovative applications and hardware that solve real-world problems.
            </p>
            <p>
                In my free time, I enjoy sports, video games, and playing musical instruments.
            </p>
            <p>
                Thank you for visiting my page! Feel free to connect with me and learn more about my journey.
            </p>
        </article>
    </section>
</div>

<%- include('partials/footer') %>
